body {
    margin: 0 auto;
    width: 575px;
    height: 385px;
}
@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: Timer;
}
.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    border-radius: 10px;
}
.btn {
   font-family: Timer; 
   margin: 0px 6px 70px 6px;
   background: #1B244A;
   border: 2px solid #9AABD8;
   color: #9AABD8;
   border-radius: 5px;
   height: 35px;
}
#homes, #guests {
   background: black;
   font-family: Timer;   
   color: #F94F6D;     
   border-radius: 5px; 
   font-weight: 400;
   font-size: 90px;
   text-align: center;
   margin-top: 20px;
   width: 150px;
   height: 105px;
   padding-top: 20px;
   margin-bottom: 20px;
}
#homep, #guestp {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 68px;
    margin-bottom: 0px;
}
#btnNewgame {
    display: flex;
    align-items: center;
    justify-content: center;
}


